*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}
:root{
 --texto: #EEF9E1;
 --fondo: #0A0914;
 --titulo: #F7CD2C;
}
body{
 width: 50%;
 margin:  0 auto ;
 background-color: black;
 color: var(--texto);
 font-family: Arial, Helvetica, sans-serif;

}
header{
 margin: 20px;
 height: 100px;
 text-align: center;
}
section.side{
 height: 50px;
}

section{
 margin: 10px;
 height: 100dvh;
}
h2{
 margin: 30px 0;
 font-size: 30px;
 /* text-align: center; */
 color: var(--titulo);
 /* text-shadow: 1px 1px 1px var(--texto); */
}
p{
 margin: 20px 0;
 font-size: 20px;
}